<!DOCTYPE html>
<html ng-app="svg-palette-picker">
	<head>
		<title></title>
		<% _.each(cssFiles, function(fileName){ %>
		<link rel="stylesheet" href="<%= fileName %>">
		<% }); %>
		<% _.each(jsFiles, function(fileName){ %>
		<script src="<%= fileName %>" type="text/javascript"></script>
		<% }); %>
	</head>
	<body ng-controller="AppCtrl as appCtrl">
		<svg-view
			svg="activeSvg"
			palette="palette">
		</svg-view>
		<document-selector
			documents="documents"
			active-document="activeDocument"
			download-uri="downloadUri"
			on-document-save="appCtrl.onDocumentSave()"
			on-document-export="appCtrl.onDocumentExport()">
		</document-selector>
		<color-selector
			palette="palette">
		</color-selector>
	</body>
</html>